.alert {
    padding: 5px;
    margin: 5px 0 10px 0;
    text-align: center;
    color: white;
}

.valid {
    background: green;
}

.invalid {
    background: red;
}

.kustuta {
    text-decoration: none;
    text-align: center;
}